.DS_Store

app/application/cache/*
!app/application/cache/index.html
!app/application/cache/.htaccess

app/application/config/config.php
app/application/database.php
app/.htaccess

app/application/logs/*
!app/application/logs/index.html
!app/application/logs/.htaccess

Vagrant/*
!Vagrant/Vagrant.zip
!Vagrant/README.txt
